.metascrore-container {
    position: absolute;
    left : 10px;
    bottom: 10px;
    border-radius: 50%;
}


.movie-image-container {
    position: relative;
    width: 150px;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
}


.movie-image {
    object-fit: cover;
    border-radius: 10px;
    width: 150px;
    height: 300px;
}
