:root {
    --dot-diameter: 40px;
    --circle-border-width: 3px;
    --default-color: rgb(87, 87, 87);
    --completion-color: rgb(16, 238, 112);
    --card-background-color:  rgb(15, 15, 15);
    --movie-list-height: 80px;
}



.movie_page_wrapper {
    background-color: black;
    overflow-y: scroll;
}


.movie-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: flex-start;
    align-items: flex;
    height: calc(100vh - var(--movie-list-height));
    background-color: black;
    /* overflow-y: scroll; */
}


.page-title {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    position: relative;
}

.page-title::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 30px;
    background: linear-gradient(to right, #6a00ff, #a200ff, #d700ff);
    left: 0;
    bottom: -5px;
}

.movie-image-container {
    position: relative;
    max-width: 100%;
    min-width: 220px;
    height: 220px;
    border-radius: 8px;
    overflow: hidden;
}

.single-movie-container {
    position: relative;
    flex: 1;
    border-radius: 8px;
    margin: 10px;
    padding: 3px;
    background-color: var(--card-background-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    color: white;
}




.movie-image {
    object-fit: cover;
    border-radius: 10px;
    object-position: top;
    position: relative;
}


/* MOVIE RATING: */

.score-container {
    position: relative;
    margin-top: -25px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--card-background-color);
    border-radius: 50%;
}

.circle-container {
    z-index: 2;
    border-radius: 50%;
    width: var(--dot-diameter);
    height: var(--dot-diameter);
    transform: rotate(-90deg);
    position: relative;
}

.circle-container__background {
    fill: none;
    stroke: var(--default-color);
    stroke-width: var(--circle-border-width);
}

.circle-container__progress {
    fill: none;
    stroke-linecap: round;
    stroke-linecap: round;
    stroke-width: var(--circle-border-width);
    transition: stroke-dashoffset 1s ease-in-out;
    will-change: transform;
}

.score {
    position: absolute;
    z-index: 2;
    font-size: 12px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.movie-details {
    padding: 10px;
    padding-top: 0;
    letter-spacing: 1.1px;
    margin-top: 2px;
  

}
.movie-details .movie-details-title {
    font-size: 15px;
}
.movie-details .movie-details-date {
    font-size: 11px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.644);
    margin-bottom: 4px;
}

/* FILTERS: */
.movies_filter_wrapper {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    height: 100px;
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 2;
    color: white;
    border-bottom: 1px solid rgb(32, 32, 32);
}

.movies_filter_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(49, 49, 49);
    padding: 5px 15px;
    border-radius: 6px;
    min-width: 120px;
    height: 50px;
    cursor: pointer;
    transition: all 0.05s ease-in-out;   /* border: 2px solid rgb(173, 116, 10); */
    box-shadow: 2px 2px 1px 2px rgba(41, 41, 41, 0.5);
}



.top-bar {
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
}


.movies-filter {
    max-width: 1000px;
    border-radius: 60px;
    border: 1px solid rgba(255, 255, 255, 0.26);
    display: flex;
    padding: 3px;
}

.movies-filter-button {
    border: none;
    color: #747474;
    padding: 4px 20px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}

  .movies-filter-button_active {
    background: linear-gradient(to right, #6a00ff, #a200ff, #d700ff);
    color: white;
  }


  .movie-dialog {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 10;
    height: 100vh;
    width: 100%;
    
  }

  .movie-dialog-card {
    width: 60vw;
    min-height: 50vh;
    background-color: black;
    border-radius: 10px;
    display: flex;

  }

  .movie-dialog-card_image_container {
    width: 200px;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }