@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./_css/productpage.css');
@import url('./_css/movie.css');




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

::-webkit-scrollbar {
  display: none;
}